<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{.Title}} </title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/static/css/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/static/css/animate.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/static/css/custom.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center">
            <h1>The One and Only</h1>
            <h2>Almost there ...</h2>
            <p>Few more details and you will have the amazing experence to leave the dream</a>
            </p>
            <div class="mid_center col-md-8 col-md-offset-2">
              <h3>Profile</h3>
              <form method="POST" >
                <input type="hidden" name="userID" value="{{.User.ID}}">
                <div class="col-xs-12 col-md-6 form-group pull-right ">
                  <input type="text" name="forename" class="form-control" placeholder="Forename" required="" />
                </div>
                <div class="col-xs-12 col-md-6 form-group pull-right ">
                  <input type="text" name="surname" class="form-control" placeholder="Surname" required="" />
                </div>
               

                <div class="col-xs-12 col-md-6 form-group pull-right ">
                  <input type="text" name="username" class="form-control" placeholder="Username" required="" value="{{.User.Username}}" />
                </div>
                <div class="col-xs-12 col-md-6  form-group pull-right ">
                  <input type="email" name="email" class="form-control" placeholder="Email" required="" value="{{.User.Email}}" />
                </div>

                <div class="col-xs-12 col-md-6 form-group pull-right ">
                  <input type="text" class="form-control" id="vat" name="vat" placeholder="VAT Number" value="{{.User.Afm}}">
                </div>
                <div class="col-xs-12 col-md-6 form-group pull-right ">
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required=""  />
                </div>
                <div class="col-xs-12 form-group pull-right ">
                  <input type="text" name="drastiriotita" id="autocomplete-custom-append" class="form-control" placeholder="Search employment sector ex: x.xx.xx or by title" required="" />
                </div>
                <div class="col-xs-12 form-group pull-right ">
                  <input type="text" class="form-control" id="eponimia" name="eponimia" placeholder="Επωνυμία" required="" value="{{.User.Profession}}"
                  />
                </div>

                <div class="col-xs-12 form-group pull-right ">
                  <input type="text" class="form-control" id="diakritikos_titlos" name="diakritikos_titlos" placeholder="Διακριτικός Τίτλος"
                    required="" value="{{.User.DistinctiveTitle}}" />
                </div>
                

                <div class="col-xs-12 col-md-6 form-group pull-right ">
                  <input required="" id="address" name="address" placeholder="Επαγγελματική Έδρα" class=" form-control" value="{{.User.Address}}"/>
                </div>
                <div class="col-xs-12 col-md-6 form-group pull-right ">
                  <input type="text" class="form-control" id="city" name="city" placeholder="Πόλη" required="" value="{{.User.City}}" />
                </div>
                <div class="col-xs-12 col-md-12 form-group pull-right ">
                  <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>

  <script src="/static/js/jquery.js"></script>
  <!-- Bootstrap -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- FastClick -->
  <script src="/static/js/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/static/js/nprogress.js"></script>
  <script src="/static/js/jquery.autocomplete.min.js"></script>


  <!-- Custom Theme Scripts -->
  <script src="/static/js/custom.js"></script>
</body>

</html>