<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/images/favicon.ico" type="image/ico" />

  <title>{{.Title}} </title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/static/css/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/static/css/green.css" rel="stylesheet">

  <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/scroller.bootstrap.min.css" rel="stylesheet">
  <!-- <link href="/static/css/prettify.min.css" rel="stylesheet"> -->
  <link href="/static/css/daterangepicker.css" rel="stylesheet">
  <script src="/static/js/echarts.all.js"></script>


  <!-- Custom Theme Style -->
  <link href="/static/css/custom.css" rel="stylesheet">
</head>

<body class="nav-sm">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
              <i class="fa fa-globe"></i>
              <span>Mo Delivery</span>
            </a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="/static/images/logo.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>{{.User.User.FirstName}} {{.User.User.LastName}}</h2>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>Μενου</h3>
              <ul class="nav side-menu">
                <li {{if eq .Active "index"}} class="active" {{end}}>
                  <a href="/admin">
                    <i class="fa fa-home"></i> Αρχική

                  </a>

                </li>
                <li {{if eq .Active "orders"}} class="active" {{end}} {{if eq .Active "completedorders"}} class="active"
                  {{end}} {{if eq .Active "cancelledorders"}} class="active" {{end}}>
                  <a>
                    <i class="fa fa-edit"></i> Παραγγελίες
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li {{if  eq .Active "orders"}} class="current_page" {{end}}>
                      <a href="/admin/processing-orders">Νέες Παραγγελίες</a>
                    </li>
                    <li {{if  eq .Active "completedorders"}} class="current_page" {{end}}>
                      <a href="/admin/completed-orders">Ολοκληρωμένες Παραγγελίες</a>
                    </li>
                    <li {{if  eq .Active "cancelledorders"}} class="current_page" {{end}}>
                      <a href="/admin/cancelled-orders">Ακυρωμένες Παραγγελίες</a>
                    </li>

                  </ul>
                </li>

                <li {{if eq .Active "customers"}} class="active" {{end}}>
                  <a>
                    <i class="fa fa-desktop"></i> Πελάτες
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li {{if  eq .Active "customers"}} class="current_page" {{end}}>
                      <a href="/admin/customers">Πελάτες</a>
                    </li>

                  </ul>
                </li>

                <li {{if eq .Active "products"}} class="active" {{end}}>
                  <a>
                    <i class="fa fa-bar-chart-o"></i> Μενού
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <li {{if  eq .Active "products"}} class="current_page" {{end}}>
                      <a href="/admin/products">Προιόντα</a>
                    </li>


                  </ul>
                </li>


                <!-- <li>
                  <a>
                    <i class="fa fa-table"></i> Ειδοποιήσεις
                  </a>

                </li> -->
                <li {{if eq .Active "pricingtable"}} class="active" {{end}}>
                  <a href="/admin/pricing">
                    <i class="fa fa-euro"></i> Πακέτα 

                  </a>

                </li>
                <li {{if eq .Active "settings"}} class="active" {{end}} {{if eq .Active "printersettings"}}
                  class="active" {{end}}>
                  <a>
                    <i class="fa fa-clone"></i>Ρυθμίσεις
                    <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                    <!-- <li>
                      <a href="fixed_sidebar.html">Κατάστημα</a>
                    </li> -->
                    <!-- <li>
                      <a href="fixed_footer.html">Ώρες Λειτουργίας</a>
                    </li> -->
                    <li {{if eq .Active "settings"}} class="active" {{end}}>
                      <a href="/admin/settings">Ρυθμίσεις</a>
                    </li>
                    <!-- <li>
                      <a href="fixed_footer.html">Μηνύματα Χρήστη</a>
                    </li> -->
                    <li {{if eq .Active "printersettings"}} class="active" {{end}}>
                      <a href="/admin/printer-settings">Ρυθμίσεις Εκτυπωτή</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/admin/logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle">
                <i class="fa fa-bars"></i>
              </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                  aria-expanded="false">
                  <img src="/static/images/logo.png" alt="">{{.User.User.FirstName}} {{.User.User.LastName}}
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">

                  <li>
                    <a href="/admin/logout">
                      <i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="/admin/processing-orders" class="dropdown-toggle info-number">
                  <i class="fa fa-bullhorn"></i>
                  <span id="totalord" class="badge bg-green "></span>
                </a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3> {{block "titleleft" .}}{{end}}</h3>
            </div>





            {{block "search" .}}{{end}}
          </div>

          <div class="clearfix"></div>

          {{block "content" .}}{{end}}


          <div class="hidden">
            <div id="htmldata"></div>
          </div>


        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Mo Delivery 2018
          <a href="https://#"></a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>



  <!-- jQuery -->
  <script src="/static/js/jquery.js"></script>
  <!-- Bootstrap -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- FastClick -->
  <script src="/static/js/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/static/js/nprogress.js"></script>
  <script src="/static/js/bootstrap-progressbar.min.js"></script>

  <script src="/static/js/jquery.autocomplete.min.js"></script>

  <script src="/static/js/jquery.dataTables.min.js"></script>
  <script src="/static/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/js/dataTables.buttons.min.js"></script>
  <script src="/static/js/buttons.bootstrap.min.js"></script>
  <script src="/static/js/buttons.flash.min.js"></script>
  <script src="/static/js/buttons.html5.min.js"></script>
  <script src="/static/js/buttons.print.min.js"></script>
  <script src="/static/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/js/dataTables.keyTable.min.js"></script>
  <script src="/static/js/dataTables.responsive.min.js"></script>
  <script src="/static/js/responsive.bootstrap.js"></script>
  <script src="/static/js/dataTables.scroller.min.js"></script>
  <script src="/static/js/jszip.min.js"></script>
  <!-- <script src="/statice/js/pdfmake.min.js"></script> -->
  <script src="/static/js/vfs_fonts.js"></script>
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/daterangepicker.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy5fGVOVgsSwb-HWjJDm1cLn_NHtyVyno"></script>

  <script type="text/javascript" src="/static/js/paginator.js"></script>

  <!-- <script src="/static/js/bootstrap-wysiwyg.min.js"></script>
  <script src="/static/js/jquery.hotkeys.js"></script>
  <script src="/static/js/prettify.js"></script> -->


  <!-- Custom Theme Scripts -->
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/notify.js"></script>

  {{block "scripts" .}}{{end}}
  <script type="text/javascript">
    var ws = new WebSocket("ws://{{.Host}}/admin/orders/ws");
    var pathname = window.location.pathname;
    console.log(pathname)
    var data1 = document.getElementById("json1");
    var htmldata = document.getElementById("htmldata");


    ws.onclose = function (evt) {
      data.textContent = 'Η επικοιωνια Έκλεισε.';
      //  window.location.reload();
    }
    ws.onmessage = function (evt) {
      console.log('file updated');
      // document.getElementById("json").innerHTML = evt.data


      if (pathname === "/admin/processing-orders") {
        data1.innerHTML = evt.data;
      } else {
        htmldata.innerHTML = evt.data
        $("#totalord").text($("span.lenorders").text());
        $.getJSON("/admin/api/totals", function (result) {
          var jsonstruct = jQuery.parseJSON(result.total_today)

          $("#untiltoday").text(result.total_amount)
          $("#today").text(jsonstruct.sales)
          $.each(result.total, function (i, field) {
            switch (field.slug) {
              case "completed":
                $("#completed").text(field.total)
                break;

              case "cancelled":
                $("#cancelled").text(field.total)
                break;

              default:
                break;
            }

          });
        });
      }

    }
    function status(status, id) {
      console.log(status, id);
      // show animation
      $(".statusbutton").addClass('loaderform');
      $('.statusbutton').prop('disabled', true);


      var formData = {
        'id': id,
        'status': status,
      };

      $.ajax({
        type: 'post',
        url: '/admin/api/change-order-status',
        data: JSON.stringify(formData),
        dataType: 'json',
        contentType: "application/json",

        success: function (data) {
          var status = data.status;
          // console.log(data)
          // if (window.location.pathname !== "/admin/processing-orders") {
          //   window.location.reload();

          // }
          $('.statusbutton').prop('disabled', false);


        },
        error: function (data) {
          $('.statusbutton').prop('disabled', false);

        }
      });

    }

  </script>


  <script>

    $(".statusbutton").on("click", function (e) {
      e.preventDefault()
      var $this = $(this);

      var status = $this.closest("form").find(".subcategoryDropdown").val();
      var formData = {
        'id': parseInt($this.attr("id")),
        'status': status,
      };


      $.ajax({
        type: 'post',
        url: '/admin/api/change-order-status',
        data: JSON.stringify(formData),
        dataType: 'json',
        contentType: "application/json",

        success: function (data) {
          var status = data.status;
          console.log(data)
          if (window.location.pathname !== "/admin/processing-orders") {
            window.location.reload();

          }
          $('.statusbutton').prop('disabled', false);

        },
        error: function (data) {
          $('.statusbutton').prop('disabled', false);

        }
      });

    })



    $(document).ready(function () {
      $('.searchparaggelia').on('click', function (e) {
        e.preventDefault();

        $('.contact-name').hide();
        var txt = $('#search-criteria').val();
        $('.contact-name').each(function () {
          if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
            $(this).show();
          }
        });
      });
    });

    $(function () {
      if (localStorage.getItem('sidemenu') === "nav-md") {
        $("body").removeClass("nav-md").addClass("nav-sm");
        $('#sidebar-menu li').closest("body").find(".active").removeClass('active').addClass("active-sm");
        $('#sidebar-menu li').closest("body").find(".active-sm ul.nav.child_menu").css("display", "none");

      } else {
        $('#sidebar-menu li').closest("body").find(".active").removeClass('active').addClass("active-sm");
        $('#sidebar-menu li').closest("body").find(".active-sm ul.nav.child_menu").css("display", "none");
      }

    });
  </script>

</body>

</html>