{{define "search"}}

<div class="title_right">
  <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
    <form action="/admin/search-results" method="post">
      <div class="input-group">
        <input name="search" type="text" class="form-control" placeholder="Αναζήτηση...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Πάμε</button>
        </span>
      </div>
    </form>

  </div>
</div>

{{end}}
{{define "content"}}
<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{.Title}}</h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="clearfix"></div>

        <div class="row">



          {{range .Customers}}
          <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
            <div class="well profile_view">
              <div class="col-sm-12">
                <h2>{{.FirstName}} {{.LastName}} </h2>
                <div class="left col-xs-7">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-building"></i> Εταιρία: {{.BillingAddress.Company}} </li>
                    <li><i class="fa fa-home"></i> Διεύθυνση 1 : {{.BillingAddress.Address1}}</li>
                    <li><i class="fa fa-building-o"></i> Πόλη : {{.BillingAddress.City}}</li>
                    <li><i class="fa fa-info"></i> Τ.Κ. : {{.BillingAddress.Postcode}}</li>
                    <li><i class="fa fa-phone"></i> Τηλέφωνο : {{.BillingAddress.Phone}} </li>
                    <li><i class="fa fa-envelope"></i> E-mail : {{.Email}}</li>

                  </ul>
                </div>
                <div class="right col-xs-5 text-center">
                  <img src="{{.AvatarURL}}" alt="AvatarURL" class="img-circle img-responsive">
                </div>
              </div>
              <div class="col-xs-12 bottom text-center">
                <div class="col-xs-12 col-sm-6 emphasis">
                  Αναζήτηση: {{.Username}}
                </div>
                <div class="col-xs-12 col-sm-6 emphasis">
                  <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                    </i> <i class="fa fa-email-o"></i> Αποστολή Email</button>
                  <a href="/admin/customers/{{.ID}}/{{.FirstName}}-{{.LastName}}" type="button"
                    class="btn btn-primary btn-xs">
                    <i class="fa fa-user"> </i> Ιστορικό
                  </a>
                </div>
              </div>

            </div>
          </div>

          {{end}}
          <div class="clearfix"></div>

          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="pagination-container margin-top-20">
              <input id="totalPages" type="hidden" value="{{.TotalPages}}">

              <nav class="pagination">
                <ul id="pagination-news" class="pag"></ul>

              </nav>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{{end}}

{{define "scripts"}}
<script>
  $(document).ready(function () {
    var total = $("#totalPages").val();

    $("#pagination-news").twbsPagination({
      totalPages: total,

      first: 'Αρχική',
      prev: 'Προηγούμενη',
      next: 'Επόμενη',
      last: 'Τελευταία',
      activeClass: 'current-page',
      onPageClick: null


    });

  });


</script> {{end}}