{{define "content"}}

<div class="clearfix"></div>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{.Title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form id="customer_details" data-parsley-validate class="form-horizontal form-label-left input_mask" novalidate>

          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" id="first_name" class="form-control has-feedback-left" name="first_name"
              placeholder="First Name" value="{{.Customer.FirstName}}" required="required">
            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
              value="{{.Customer.LastName}}" required="required">
            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control has-feedback-left" id="email" name="email" placeholder="Email"
              value="{{.Customer.Email}}" required="required">
            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
              value="{{.Customer.Username}}" required="required">
            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"> Billing First Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_first_name" name="billing_first_name"
                placeholder="Billing First Name" value="{{.Customer.BillingAddress.FirstName}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Last Name </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_last_name" name="billing_last_name"
                placeholder="Billing Last Name" value="{{.Customer.BillingAddress.LastName}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Company</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_company" name="billing_company"
                placeholder="Billing Company" value="{{.Customer.BillingAddress.Company}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Address</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input class="date-picker form-control col-md-7 col-xs-12" id="billing_address" name="billing_address"
                type="text" placeholder="Billing Address" value="{{.Customer.BillingAddress.Address1}}"
                required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing City</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_city" name="billing_city" placeholder="Billing City"
                value="{{.Customer.BillingAddress.City}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing State</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_state" name="billing_state"
                placeholder="Billing State" value="{{.Customer.BillingAddress.State}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Postcode</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_postcode" name="billing_postcode"
                placeholder="Billing Postcode" value="{{.Customer.BillingAddress.Postcode}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Country</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_country" name="billing_country"
                placeholder="Billing Country" value="{{.Customer.BillingAddress.Country}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_email" name="billing_email"
                placeholder="Billing Email" value="{{.Customer.BillingAddress.Email}}" required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Billing Phone</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" id="billing_phone" name="billing_phone"
                placeholder="Billing Phone" value="{{.Customer.BillingAddress.Phone}}" required="required">
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" class="btn btn-primary" onclick="location.href = '/admin';">Ακύρωση</button>
              <button type="submit" class="btn btn-success">Αγορά</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


{{end}}

{{define "scripts"}}
<script type="text/javascript">
  $('#customer_details').on('submit', function (e) {
    e.preventDefault();

    var billing = {
      "first_name": $("#billing_first_name").val(),
      "last_name": $("#billing_last_name").val(),
      "company": $("#billing_company").val(),
      "address_1": $("#billing_address").val(),
      "city": $("#billing_city").val(),
      "state": $("#billing_state").val(),
      "postcode": $("#billing_postcode").val(),
      "country": $("#billing_country").val(),
      "email": $("#billing_email").val(),
      "phone": $("#billing_phone").val(),
    }
    var object = {

      "first_name": $("#first_name").val(),
      "last_name": $("#last_name").val(),
      "email": $("#email").val(),
      "username": $("#username").val(),
      "billing":billing,
      

    }
    console.log(object)
    
    $.ajax({
      type: 'post',
      url: '/admin/api/buy-credits',
      data: JSON.stringify(object),
      dataType: 'json',
      contentType: "application/json",

      success: function (data) {
        var status = data.status;
        if (data.status === 200) {

          $.notify({
            icon: 'ti-user',
            message: "success",



          }, {
              placement: {
                from: "top",
                align: "center"
              },
              type: 'success',
              timer: 2000,
            });
          // setTimeout(function () {
          //     $(this).closest('form').find("input[type=text], textarea").val("");
          // }, 2000);

        };


        if (data.status === 500) {
          $.notify({
            icon: 'ti-user',
            message: data.description,

          }, {
              placement: {
                from: "top",
                align: "center"
              },
              type: 'error',
              timer: 2000,
            });
          // setTimeout(function () {
          //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
          //     window.location.reload();
          // }, 2000);
        };


      }
    });

  });



</script>

{{end}}