{{define "content"}}
<div class="spinner">
  <div class="row top_tiles loader"></div>
</div>

<div class="row top_tiles hidden">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon one"><i class="fa fa-check-square-o"></i></div>
      <div id="completed" class="count"></div>
      <h3>Ολοκληρωμένες</h3>
      <p>Συνόλο ολοκληρωμένων παραγγελίων</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon two"><i class="fa fa-warning"></i></div>
      <div id="cancelled" class="count"></div>
      <h3>Ακυρωμένες</h3>
      <p>Συνόλο ακυρωμένων παραγγελίων</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon three"><i class="fa fa-euro"></i></div>
      <div id="today" class="count"></div>
      <h3>Σήμερα</h3>
      <p>Συνολο ημέρας</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon four"><i class="fa fa-bar-chart"></i></div>
      <div id="untiltoday" class="count one"></div>
      <h3>Μέχρι σήμερα</h3>
      <p>Σύνολο μέχρι σήμερα</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="dashboard_graph">

        <div class="row x_title">
          <div class="col-md-6">
            <h3>Στατιστικά Πωλήσεων <small>Επιλεγμένου χρόνου</small> </h3>

          </div>
          <div class="col-md-6">
            <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </div>
          </div>
        </div>

        <div class="x_content">

            <div id="chartActivity" style="height:400px"></div>
        </div>


        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
<br />



<!-- <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="row x_title">


        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <input type="hidden" id="jsontemplate" value="{{.JSONMetaUser}}">
      
        <pre id="json2"></pre>
      </div>
    </div>
  </div>
</div> -->

{{end}} {{define "scripts"}}
<script>
  $(function () {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
      $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
    }


    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Σήμερα': [moment(), moment()],
        'Χθές': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Τελευταίες 7 ημέρες': [moment().subtract(6, 'days'), moment()],
        'Τελευταίες 30 ημέρες': [moment().subtract(29, 'days'), moment()],
        'Αυτό το μήνα': [moment().startOf('month'), moment().endOf('month')],
        'Προηγούμενο μήνα': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        'Αυτό το χρόνο': [moment().startOf('year'), moment().endOf('year')],
        'Προηγούμενο χρόνο': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
      },
      locale: {
        applyLabel: 'Aναζήτηση',
        cancelLabel: 'Ακύρωση',
        fromLabel: 'Από',
        toLabel: 'Εώς',
        customRangeLabel: 'Άλλο',
        daysOfWeek: ['Δε', 'Τρ', 'Τε', 'Πε', 'Πα', 'Σα', 'Κυ'],
        monthNames: ['ΙΑΝΟΥΑΡΙΟΣ', 'ΦΕΒΡΟΥΑΡΙΟΣ', 'ΜΑΡΤΙΟΣ', 'ΑΠΡΙΛΙΟΣ', 'ΜΑΪΟΣ', 'ΙΟΥΝΙΟΣ', 'ΙΟΥΛΙΟΣ', 'ΑΥΓΟΥΣΤΟΣ', 'ΣΕΠΤΕΜΒΡΙΟΣ', 'ΟΚΤΩΒΡΙΟΣ', 'ΝΟΕΜΒΡΙΟΣ', 'ΔΕΚΕΜΒΡΙΟΣ'],

      }
    }, cb);

    cb(start, end);
    $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
      console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
      sales(picker.startDate.format('YYYY-MM-DD'), picker.endDate.format('YYYY-MM-DD'))
    });

    $('#reportrange').on('show.daterangepicker', function (ev, picker) {
      console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
    });

    sales(start, end)



  });

  $(document).ready(function () {
    $.getJSON("/admin/api/totals", function (result) {
      // var jsonstruct = jQuery.parseJSON( result.total_today)
      // console.log(jsonstruct)

      $("#untiltoday").text(result.total_amount)
      $("#today").text(result.total_today)
      $.each(result.totals, function (i, field) {

        switch (field.slug) {
          case "completed":
            $("#completed").text(field.total)
            break;

          case "cancelled":
            $("#cancelled").text(field.total)
            break;

          default:
            break;
        }

      });
      $(".top_tiles").removeClass("hidden")
      $(".spinner").addClass("hidden")
    });


    // var data = $("#jsontemplate").val()

    // var str = JSON.stringify(JSON.parse(data), null, 2);;

    // output(str);



  });

  // function output(inp) {
  //   // document.body.appendChild(document.createElement('pre')).innerHTML = inp;
  //   document.getElementById("json2").innerHTML = inp

  // }

  var pathname = window.location.pathname;
  if (pathname === "/admin") {
    window.setInterval(function () {


    }, 10000);
  } else {


    window.clearInterval()
  }




</script>

<script>

  function sales(from, to) {
    var timeStampFrom = (moment(from).unix());


    var timeStampTo = (moment(to).unix());


    $.ajax({
      type: 'GET',
      url: '/admin/api/all-sales/' + timeStampFrom + "/" + timeStampTo,
      dataType: 'json',

      success: function (json) {
        console.log(json)

        var dates = new Array();
        var values = new Array();
        var series = new Array();




        // var sorted = {};
        var everything = []
        for (var i = 0, max = json.length; i < max; i++) {

          // var data = []
          dates.push(json[i].date)
          values.push(parseFloat(json[i].sales))
          // everything.push(data)

        }

        // series.push({
        //    name: "total",
        //   type: "bar",
        //   areaStyle: { normal: {} },
        //   data: everything

        // })


        console.log(values)
        console.log(dates)

        // var legends = jQuery.unique(legend);
        // for (var i = 0, max = legends.length; i < max; i++) {

        //   var everything = []
        //   for (let index = 0; index < sorted[legends[i]].length; index++) {
        //     const element = sorted[legends[i]][index];
        //     var data = []
        //     data.push(moment(element.created_at).format("DD/MM/YYYY"))
        //     data.push(element.total_price_services)
        //     everything.push(data)
        //   }


        // }

        $("#chartActivity").show();

        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('chartActivity'), "light");

        // specify chart configuration item and data
        var option = {

          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow',
              label: {
                backgroundColor: '#6a7985',

              },



            },
            formatter: function (params) {
              console.log(params)
              var output = '<b>' + params[0].name + '</b><br/>'
              for (let i = 0; i < params.length; i++) {


                output += params[i].marker + params[i].seriesName + ': ' + params[i].value + " €";

                if (i != params.length - 1) {
                  output += '<br/>'
                }
              }
              return output

            },
          },
          toolbox: {
            feature: {
              saveAsImage: {
                title: "Download"
              },
              dataZoom: {
                title: {
                  zoom: "Zoom",
                  back: "Back",
                },
                yAxisIndex: 'none'
              },
              restore: {
                title: "Restore"
              },
            }
          },
          dataZoom: [{
            type: 'inside',
            start: 0,
            end: 100
          }, {
            start: 0,
            end: 100,
            handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
            handleSize: '80%',
            handleStyle: {
              color: '#fff',
              shadowBlur: 3,
              shadowColor: 'rgba(0, 0, 0, 0.6)',
              shadowOffsetX: 2,
              shadowOffsetY: 2,

            }
          }],
          grid: {
            left: '3%',
            right: '4%',
            containLabel: true
          },
          legend: {
            data: dates
          },


          xAxis: [
            {
              type: 'category',
              axisTick: {
                alignWithLabel: true
              },
              data: dates

            }
          ],
          yAxis:
          {

            type: 'value',
            axisLabel: {
              formatter: function (value) {
                return value + "€";
              }
            },
          },
          // xAxis: [
          //   {
          //     type: 'category',
          //     data: dates,
          //     axisTick: {
          //       alignWithLabel: true
          //     }
          //   }
          // ],
         
          series: [
            {
              // name: 'nikos',
              type: 'bar',
              barWidth: '60%',
              data: values
            }
          ]



          // series: series
        };
        // use configuration item and data specified to show chart
        myChart.setOption(option);






      },
      error: function (Result) {

        console.log("error");

      }

    });

  }




</script>

{{end}}