<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{.Title}} </title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/static/css/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/static/css/animate.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/static/css/custom.css" rel="stylesheet">
</head>

<body class="login">
  <div>
   
    {{safehtml .MessageError}}

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form method="POST" action="/admin/login">

            <input type="hidden" name="wpapi" value="{{.WPAPI}}">
            <h1>Στοιχεία σύνδεσης</h1>
            <div>
              <input type="text" name="afm" class="form-control" placeholder="WP 'Ονομα χρήστη" required="" />
            </div>
            <div>
              <input type="password" name="password" class="form-control" placeholder="WP Κωδικός" required="" />
            </div>

            {{if eq .WPAPI false}}

            <div>
                <input type="text" name="wp_domain" class="form-control" placeholder="your domain" required="" />
            </div>
            <div>
                <input type="text" name="wp_api" class="form-control" placeholder="your domain/api" required="" />
            </div>
            <div>
                <input type="text" name="ck" class="form-control" placeholder="Customer key" required="" />
            </div>
            <div>
                <input type="text" name="cs" class="form-control" placeholder="Customer secret" required="" />
            </div>
              {{end}}

            <div>
              <button type="submit" onclick="loadDoc()"  class="btn btn-default submit" >Εισοδος</button>
             
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              
              <div class="clearfix"></div>
              <br />

              <div>
                  <img src="/static/images/logo.png" alt=""> 
                <h1>
                   <i class="fa fa-globe"></i> Mo Delivery ©2018</h1>
              </div>
            </div>
          </form>
        </section>
      </div>

     
    </div>
  </div>
  <!-- jQuery -->
  <script src="/static/js/jquery.js"></script>
  <!-- Bootstrap -->
  <script src="/static/js/bootstrap.js"></script>
  <!-- FastClick -->
  <script src="/static/js/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/static/js/nprogress.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/static/js/custom.js"></script>
  <!--  Google Maps Plugin    -->

  <script>
   function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    console.log(this)
    if (this.readyState == 4 && this.status == 200) {
      console.log(this)

      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", window.location, true);
  xhttp.send();
}
  </script>
 
</body>

</html>