{{define "search"}}

<div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <input id="search-criteria" type="text" class="form-control" placeholder="Αναζήτηση...">
            <span class="input-group-btn">
                <button class="btn btn-default searchparaggelia" type="button">Πάμε</button>
            </span>
        </div>
    </div>
</div>

{{end}}
{{define "content"}}
<div class="clearfix"></div>



<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{.Title}}</h2>

                <!-- <div id="json"></div> -->

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">


                    {{range .Orders}}

                    <div class="col-xs-12 profile_details contact-name">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                <h3>Παραγγελία #{{.ID}} <span class="">{{date .DateCreated}}</span></h3>
                                {{$total :=.Total}} {{$shippingtotal :=.ShippingTotal}}

                                <h4 class="brief"><i>Παράδοση-Πληρωμή:{{ .ShippingMethod}}- {{.PaymentMethodTitle}}. <br />
                                        Σχόλια Παραγγελίας: {{.CustomerNote}}</i></h4>
                                <div class="left col-md-3 col-xs-6">
                                    <h3>Χρέωση</h3>
                                    <p><strong>'Ονομα: </strong> {{.Billing.FirstName}} {{.Billing.LastName}} </p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-building"></i> Εταιρία: {{.Billing.Company}} </li>
                                        <li><i class="fa fa-home"></i> Διεύθυνση 1 : {{.Billing.Address1}}</li>
                                        <li><i class="fa fa-building-o"></i> Πόλη : {{.Billing.City}}</li>
                                        <li><i class="fa fa-info"></i> Τ.Κ. : {{.Billing.Postcode }}</li>
                                        <li><i class="fa fa-phone"></i> Τηλέφωνο : {{.Billing.Phone}} </li>
                                        <li><i class="fa fa-envelope"></i> E-mail : {{.Billing.Email}}</li>
                                    </ul>
                                </div>

                                <div id="" class=" right col-md-9 col-xs-12 ">
                                    <h3>Προϊόντα</h3>

                                    <ul class="list-unstyled top_profiles scroll-view">
                                        {{range .LineItems}}
                                        <li class="media event">
                                            <a class="pull-left border-aero profile_thumb">
                                                <i class="fa fa-shopping-cart aero"></i>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">{{.Name}}</a>
                                                <p class="totalright">
                                                    <strong>€{{printf "%.2f" .Price}} x {{.Quantity}}</strong>
                                                    Σύνολο:€{{.Total}}
                                                </p>
                                                <p> Σχόλια είδους:<br />
                                                    {{range .MetaData}}
                                                    <small><strong>{{safehtml .Value}}</strong></small>

                                                    {{end}}
                                                </p>
                                            </div>
                                        </li>
                                        {{end}}


                                    </ul>
                                    <table class="table">

                                        <tbody>

                                            <tr>
                                                <td>Σύνολο</td>
                                                <td class="totalright">€{{$total}}</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12 bottom">
                                <div class="col-xs-12 col-sm-6 emphasis">

                                    {{if eq .Status "completed"}}
                                    <button type="button" class="btn btn-success">
                                        <i class="fa fa-thumbs-o-up"> </i> Ολοκληρώθηκε
                                    </button>
                                    {{end}} {{if eq .Status "cancelled"}}
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"> </i> Ακυρώθηκε
                                    </button>
                                    {{end}} {{if eq .Status "processing"}}
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-sign-in"> </i> Επεξεργάζεται
                                    </button>
                                    {{end}} {{if eq .Status "refunded"}}
                                    <button type="button" class="btn btn-warning">
                                        <i class="fa fa-sign-out"> </i> Επιστράφηκε
                                    </button>
                                    {{end}} {{if eq .Status "on-hold"}}
                                    <button type="button" class="btn btn-dark ">
                                        <i class="fa fa-pause"> </i> Σε αναμονή
                                    </button>
                                    {{end}} {{if eq .Status "pending-payment"}}
                                    <button type="button" class="btn btn-default ">
                                        <i class="fa fa-eur"> </i> Αναμονή πληρωμής
                                    </button>
                                    {{end}}
                                    <button type="button" tiposi="{{.ID}}" class="btn btn-warning float-right"
                                        onclick="tiposi({{.ID}},{{.}});">
                                        <i class="fa fa-print"> </i> Επανεκτύπωση
                                    </button>

                                </div>

                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <form>
                                        <div class="input-group">

                                            <select class="form-control subcategoryDropdown">
                                                <option value="">Επιλογή</option>
                                                <option value="completed">Ολοκλήρωση</option>
                                                <option value="cancelled">Ακύρωση</option>
                                                <option value="processing">Επεξεργάζεται</option>
                                                <option value="on-hold">Σε αναμονή</option>
                                                <option value="pendingpayment">Αναμονή πληρωμής</option>
                                                <option value="refunded">Επιστροφή πληρωμής</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button type="button" id="{{.ID}}"
                                                    class="btn btn-primary statusbutton">Αλλαγή</button>
                                            </span>
                                        </div>

                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>




                    {{end}}

                    <div class="clearfix"></div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="pagination-container margin-top-20">
                            <input id="totalPages" type="hidden" value="{{.TotalPages}}">

                            <nav class="pagination">
                                <ul id="pagination-news" class="pag"></ul>

                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />




{{end}}

{{define "scripts"}}
<script>
    $(document).ready(function () {
        var total = $("#totalPages").val();

        $("#pagination-news").twbsPagination({
            totalPages: total,

            first: 'Αρχική',
            prev: 'Προηγούμενη',
            next: 'Επόμενη',
            last: 'Τελευταία',
            activeClass: 'current-page',
            onPageClick: null


        });

    });


</script>
<script type="text/javascript">
    function tiposi(id, order) {
        // var formData = {
        //     'id':id,
        //     "data":order
        // };
        $.ajax({
            type: 'post',
            url: '/admin/api/tiposi/' + id,
            data: JSON.stringify([order]),
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {

                    $.notify({
                        icon: 'ti-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });

                };

                if (data.status === 500) {

                    $.notify({
                        icon: 'ti-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'error',
                            timer: 2000,
                        });

                };


            }
        });

    }


</script>



{{end}}