{{define "content"}}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">


            <div class="x_content">
                <div class="row">

                    <div class="col-md-12">
                        {{if .Products}}
                        {{range .Products}}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="pricing ui-ribbon-container">
                                <div class="ui-ribbon-wrapper">
                                    <div class="ui-ribbon">
                                        {{smscalculator .Price .Sku}} sms
                                    </div>
                                </div>
                                <div class="title">
                                    <h2>{{.Name}}</h2>
                                    <h1><i class="fa fa-euro"></i> {{.Price}}</h1>
                                    <span>Κόστος/μήνυμα €0.{{.Sku}}</span>
                                </div>
                                <div class="x_content">
                                    <div class="">
                                        <div class="pricing_features">
                                            <ul class="list-unstyled text-left">

                                                {{range .PackageFeatures}}

                                                <li><i class="fa fa-check text-success"></i> {{.}} </li>
                                                {{end}}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pricing_footer">
                                        <a href="/admin/pricing/package/{{.ID}}/{{.ProductName}}" class="btn btn-success btn-block"
                                            role="button">Αγορασέ <span> το!</span></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        {{end}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{{end}}

{{define "scripts"}}


{{end}}