{{define "search"}}

<div class="title_right">
    <div class="col-md-6  col-sm-6 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <input id="totalcharacters" name="totalcharacters" type="text" class="form-control" placeholder="Σύνολο χαρακτήρων...">
            <span class="input-group-btn">
                <button class="btn btn-default totalcharacters" type="button">Αποθήκευση</button>
            </span>
        </div>
    </div>
</div>

{{end}}
{{define "content"}}
<div class="clearfix"></div>



<div  id="settings" class="row hidden">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{.Title}}</h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-4 col-sm-4 col-xs-12">


                    <button draggable="true" class="btn btn-default">[[ $ID]]</button>
                    <button draggable="true" class="btn btn-default">[[ $Billing.FirstName ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $Billing.LastName ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $Billing.Address1 ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $Billing.City ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $Billing.Phone ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $Billing.Address2 ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $CustomerNote ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $PaymentMethodTitle ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $LineItems ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $Total ]]</button>
                    <button draggable="true" class="btn btn-default">[[ $DateCreated ]]</button>
                    <button draggable="true" class="btn btn-warning">[[ $TotalCount ]]</button>


                   


                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">

                    <form id="demo-form">

                        <textarea id="txt" rows="20" class=" form-control" placeholder="">DELIEVRY - ΑΠΟ SITE:&#13;&#10;ΑΡΙΘΜΟΣ ΠΑΡΑΓΓΕΛΙΑΣ:&#13;&#10;ΠΕΛΑΤΗΣ:&#13;&#10;ΔΙΕΥΘΥΝΣΗ:&#13;&#10;ΠΟΛΗ:&#13;&#10;ΤΗΛ:&#13;&#10;ΚΙΝΗΤΟ:&#13;&#10;ΟΡΟΦΟΣ:&#13;&#10;ΣΧΟΛΙΑ ΠΑΡΑΓΓΕΛΙΑΣ:&#13;&#10;ΗΜΕΡ.:&#13;&#10;ΤΡΟΠΟΣ ΠΛΗΡΩΜΗΣ:&#13;&#10;----------------------------------------&#13;&#10;ΠΟΣΟΤ      ΕΙΔΟΣ                     ΑΞΙΑ&#13;&#10;----------------------------------------&#13;&#10; ----------------------------------------&#13;&#10; ΕΚΠΤΩΣΗ ΚΟΥΠΟΝΙ               0%&#13;&#10;ΣΥΝΟΛΟ
                            </textarea>
                        <br>
                        <button class="btn btn-primary formatform">Save</button>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm">Set
                                To Default Layout</button>
                    </form>
                    
                </div>



            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Set to defaul form</h4>
                </div>
                <div class="modal-body">

                    <p>You are about to reset to default layout</p>
                    <h4>Do you want to continue ?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary defaultform">Save changes</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div id="wrongpass" class="alert alert-danger alert-dismissible fade in hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
    
                </div>
    
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Admin Login</h4>
                </div>
                <div class="modal-body">
    
                    <form class="form-horizontal">
    
    
                        <div class="form-group">
                            <label class="control-label">Admin Password</label>
    
                            <input type="password" id="admin_pass" name="admin_pass" class="form-control">
    
                        </div>
    
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary submit-admin">Login</button>
                </div>
    
            </div>
        </div>
    </div>




{{end}}

{{define "scripts"}}
<script>
    $(".formatform").on('click', function (e) {
        e.preventDefault();
        var myTextareaVal = $('#txt').val();




        console.log(myTextareaVal)

        var object = {
            "text": myTextareaVal,

        }

        $.ajax({
            type: 'post',
            url: '/admin/api/format-order',
            data: JSON.stringify(object),
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {

                    $.notify({
                        icon: 'fa fa-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     $(this).closest('form').find("input[type=text], textarea").val("");
                    // }, 2000);

                };


                if (data.status === 500) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'error',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
                    //     window.location.reload();
                    // }, 2000);
                };


            }
        });




    });


    document.addEventListener('dragstart', function (event) {


        console.log(event.target.innerHTML)
        if (event.target.innerHTML === "[[ $LineItems ]]") {
            event.dataTransfer.setData('Text', event.target.innerHTML.replace(/\[/g, '{').replace(/\]/g, '}').replace(/\$/g, 'range .'));

        } else {
            event.dataTransfer.setData('Text', event.target.innerHTML.replace(/\[/g, '{').replace(/\]/g, '}').replace(/\$/g, '.'));

        }
    });
    $(".totalcharacters").on('click', function (e) {
        e.preventDefault();

        var object = {


        }

        if (parseInt($("#totalcharacters").val()) <= 0 || $("#totalcharacters").val() === "") {
            $.notify({
                icon: 'fa fa-user',
                message: "characters must be  bigger than:" + parseInt($("#totalcharacters").val()),



            }, {
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    type: 'warning',
                    timer: 2000,
                });
            return
        }


        $.ajax({
            type: 'post',
            url: '/admin/api/total-characters/' + parseInt($("#totalcharacters").val()),
            data: JSON.stringify(object),
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {

                    $.notify({
                        icon: 'fa fa-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     $(this).closest('form').find("input[type=text], textarea").val("");
                    // }, 2000);

                };


                if (data.status === 500) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'error',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
                    //     window.location.reload();
                    // }, 2000);
                };


            }
        });

    });

</script>
<script>

$('#myModal').modal({ backdrop: 'static', keyboard: false, toggle: 'toggle' })


$(".submit-admin").on('click', function (e) {
    e.preventDefault();

    console.log("here");


    $.ajax({
        type: 'post',
        url: '/admin/api/check-if-admin/' + $("#admin_pass").val(),
        data: null,
        dataType: 'json',
        contentType: "application/json",

        success: function (data) {
            var status = data.status;
            console.log(data)
            if (data.status === 200) {
                $('#myModal').modal('toggle')
                $("#wrongpass").addClass("hidden");

                $("#settings").removeClass("hidden");

                $.notify({
                    icon: 'ti-user',
                    message: data.description,



                }, {
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        type: 'success',
                        timer: 2000,
                    });
                // setTimeout(function () {
                //     $(this).closest('form').find("input[type=text], textarea").val("");
                // }, 2000);

            };


            if (data.status === 500) {

                $("#wrongpass").removeClass("hidden").text(data.description);
            };


        }
    });






});

    $(".defaultform").on('click', function (e) {
        e.preventDefault();
        var myTextareaVal = $('#txt').val();






        $.ajax({
            type: 'post',
            url: '/admin/api/set-to-default-form',
            data: null,
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {
                    $('.bs-example-modal-sm').modal('toggle');

                    $.notify({
                        icon: 'fa fa-user',
                        message: "form set it to defualt",



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });


                };


                if (data.status === 500) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'error',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
                    //     window.location.reload();
                    // }, 2000);
                };


            }
        });




    });

</script>

{{end}}