{{define "search"}}

<div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <input id="search-criteria" type="text" class="form-control" placeholder="Αναζήτηση...">
            <span class="input-group-btn">
                <button class="btn btn-default searchparaggelia" type="button">Πάμε</button>
            </span>
        </div>
    </div>
</div>

{{end}}
{{define "content"}}
<div class="clearfix"></div>



<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Νέες Παραγγελίες</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">


                <div id="json1" class="row">


                    <!-- {{range .Orders}}

                    <div class="col-xs-12 profile_details">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                <h3>Παραγγελία #{{.ID}}</h3>
                                {{$total :=.Total}} {{$shippingtotal :=.ShippingTotal}}
                                <h4 class="brief"><i>Παράδοση/Πληρωμή:Delivery - {{.PaymentMethodTitle}}. Σχόλια
                                        Παραγγελίας: Ρέστα απο 50 ευρώ</i></h4>
                                <div class="left col-md-3 col-xs-6">
                                    <h3>Χρέωση</h3>
                                    <p><strong>'Ονομα: </strong> {{.Billing.FirstName}} {{.Billing.LastName}} </p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-building"></i> Εταιρία: {{.Billing.Company}} </li>
                                        <li><i class="fa fa-home"></i> Διεύθυνση 1 : {{.Billing.Address1}}</li>
                                        <li><i class="fa fa-building-o"></i> Πόλη : {{.Billing.City}}</li>
                                        <li><i class="fa fa-info"></i> Τ.Κ. : {{.Billing.Postcode }}</li>
                                        <li><i class="fa fa-phone"></i> Τηλέφωνο : {{.Billing.Phone}} </li>
                                        <li><i class="fa fa-envelope"></i> E-mail : {{.Billing.Email}}</li>
                                    </ul>
                                </div>

                                <div id="tableproducts" class=" right col-md-9 col-xs-12 ">
                                    <h3>Προϊόντα</h3>

                                    <ul class="list-unstyled top_profiles scroll-view">
                                        {{range .LineItems}}
                                        <li class="media event">
                                            <a class="pull-left border-aero profile_thumb">
                                                <i class="fa fa-shopping-cart aero"></i>
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">{{.Name}}</a>
                                                <p class="totalright"><strong>€{{printf "%.2f" .Price}} x {{.Quantity}}</strong>
                                                    Σύνολο:
                                                    €{{.Total}} </p>
                                                <p> <small>Σχόλια παραγγελίας <strong>{{range .MetaData}}{{safehtml .Value}}</strong></small>

                                                    {{end}}
                                                </p>
                                            </div>
                                        </li>
                                        {{end}}


                                    </ul>
                                    <table class="table">

                                        <tbody>

                                            <tr>
                                                <td>Σύνολο</td>
                                                <td class="totalright">€{{$total}}</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12 bottom">
                                <div class="col-xs-12 col-sm-6 emphasis">

                                    {{if eq .Status "completed"}}
                                    <button type="button" class="btn btn-success">
                                        <i class="fa fa-thumbs-o-up"> </i> Ολοκληρώθηκε
                                    </button>
                                    {{end}} {{if eq .Status "cancelled"}}
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"> </i> Ακυρώθηκε
                                    </button>
                                    {{end}} {{if eq .Status "processing"}}
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-sign-in"> </i> Επεξεργάζεται
                                    </button>
                                    {{end}} {{if eq .Status "refunded"}}
                                    <button type="button" class="btn btn-warning">
                                        <i class="fa fa-sign-out"> </i> Επιστράφηκε
                                    </button>
                                    {{end}} {{if eq .Status "on-hold"}}
                                    <button type="button" class="btn btn-dark ">
                                        <i class="fa fa-pause"> </i> Σε αναμονή
                                    </button>
                                    {{end}} {{if eq .Status "pending-payment"}}
                                    <button type="button" class="btn btn-default ">
                                        <i class="fa fa-eur"> </i> Αναμονή πληρωμής
                                    </button>
                                    {{end}}


                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <form>
                                        <div class="input-group">

                                            <select class="form-control">
                                                <option value="">Επιλογή</option>
                                                <option value="completed">Ολοκλήρωση</option>
                                                <option value="cancelled">Ακύρωση</option>
                                                <option value="processing">Επεξεργάζεται</option>
                                                <option value="on-hold">Σε αναμονή</option>
                                                <option value="pendingpayment">Αναμονή πληρωμής</option>
                                                <option value="refunded">Επιστροφή πληρωμής</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary">Αλλαγή</button>
                                            </span>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    {{end}} -->


                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Order id #<span id="orderid"></span></h4>
            </div>
            <div class="modal-body">
                <h4 id="orderdesc">Η παραγγελία σας θα είναι έτοιμη σε </h4>
                <div class="x_panel">

                    <div id="timebuttons" class="x_content">
                        <button class="btn btn-app">
                            10
                        </button>
                        <button class="btn btn-app">
                            20
                        </button>
                        <button class="btn btn-app">
                            30
                        </button>
                        <button class="btn btn-app">
                            40
                        </button>
                        <button class="btn btn-app">
                            50
                        </button>
                        <button class="btn btn-app">
                            60
                        </button>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Order id #<span id="morderid"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal_body_content">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 modal_body_map">
                        <div class="location-map" id="location-map">
                            <div style="width: 600px; height: 400px;" id="map_canvas"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 modal_body_end">
                        <a id="dynamicanchor" class="btn btn-info"
                            href="">
                            VIBER</a>

                            <a id="dynamicwhatsup" class="btn btn-info" href="">WHATSUP</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br /> {{end}} {{define "scripts"}}



<script>
    function orderid(id) {
        console.log(id);
        $("#orderid").text(id);
    }

    function tiposi(id, order) {
        // var formData = {
        //     'id':id,
        //     "data":order
        // };
        $.ajax({
            type: 'post',
            url: '/admin/api/tiposi/' + id,
            data: JSON.stringify([order]),
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {

                    $.notify({
                        icon: 'ti-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });

                };

                if (data.status === 500) {

                    $.notify({
                        icon: 'ti-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'error',
                            timer: 2000,
                        });

                };


            }
        });

    }

    $("#timebuttons .btn.btn-app").on("click", function () {

        var message = $.trim($("#orderdesc").text()) + " " + $.trim($(this).text()) + " λεπτά."
        console.log(message)

        var formData = {
            'id': $.trim($("#orderid").text()),
            'message': message,
        };
        console.log(formData)

        $.ajax({
            type: 'post',
            url: '/admin/api/create-order-note',
            data: JSON.stringify(formData),
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {
                    $('.bs-example-modal-md').modal('toggle');
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
                    //     window.location.reload();
                    // }, 2000);
                };

                if (data.status === 500) {
                    $('.bs-example-modal-md').modal('toggle');
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'error',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
                    //     window.location.reload();
                    // }, 2000);
                };


            }
        });

    })

</script>

<script>

    $(document).ready(function () {
        var map = null;
        var myMarker;
        var myLatlng;

        function initializeGMap(lat, lng) {
            myLatlng = new google.maps.LatLng(lat, lng);

            var myOptions = {
                zoom: 12,
                zoomControl: true,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            myMarker = new google.maps.Marker({
                position: myLatlng
            });
            myMarker.setMap(map);
        }

        // Re-init map before show modal
        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
             var map =" https://www.google.com/maps/?q="+button.data("lat")+","+button.data("lng")

        var text  = `${map}\n order id:${button.data("orderid")}\n phone:${button.data("billingphone")}\n  address:${button.data("billingaddress")}\n  `
       $("#dynamicanchor").attr("href", "viber://forward?text="+text);
       //https://wa.me/?text=I'https://www.google.com/maps/?q=39.158381786950564,21.67462327929684 order id:2977 phone:32342423  address:Unnamed Road MAP:
       $("#dynamicwhatsup").attr("href", "https://wa.me/?text=I'"+text);

       $("#morderid").text(button.data("orderid"));


            console.log(text)
            initializeGMap(button.data('lat'), button.data('lng'));
            $("#location-map").css("width", "100%");
            $("#map_canvas").css("width", "100%");
        });

        // Trigger map resize event after modal shown
        $('#myModal').on('shown.bs.modal', function () {
            google.maps.event.trigger(map, "resize");
            map.setCenter(myLatlng);
        });
    });



</script>



{{end}}