{{define "content"}}
<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Categories</small></h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form action="" method="post">
          <div class="checkbox">

            {{range .Categories}}
            <label class="margin-right-15px">
              <input type="checkbox" {{if eq .Checked true }} checked {{end}} name="category" value="{{.ID}}">{{.Name}}
            </label>
            {{end}}
          </div>
          <button type="submit" class="btn btn-success">Search</button>
          <label class="margin-right-15px">
            <input type="checkbox" id="checkAll" {{if eq .SelectAll true }} checked {{end}} name="selectall">Check All
          </label>

        </form>


      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{.Title}}</h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">


        <!-- start project list -->
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap  projects "
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th>product Name</th>
              <th>Images</th>
              <th>Price</th>
              <th>Status</th>
              <th style="width:50px;text-align:center;">Enable/Disalble</th>
              <th>#Edit</th>
            </tr>
          </thead>
          <tbody>
            {{range .Products}}
            <tr>
              <td>#{{.ID}}</td>
              <td>
                <a>{{.Name}}</a>
                <br>
                <small>Published at {{date .DateModifiedGmt}}</small>
              </td>
              <td>
                <ul class="list-inline">
                  {{range .Images}}
                  <li>
                    <img src="{{.Src}}" class="avatar" alt="{{.Name}}">
                  </li>
                  {{end}}
                </ul>
              </td>
              <td>
                <a>&euro;{{parsefloat .Price}}</a>

              </td>
              <td>
                {{range .Categories}}
                <button type="button" class="btn btn-success btn-xs">{{.Name}}</button>
                {{end}}
              </td>
              <td> <label class='toggler__label'>
                  <input type="checkbox" class="enabledisable" name="" {{if eq .Status "publish"}} checked {{end}}
                    hidden value="{{.ID}}">

                  <div class='toggler'></div>
                </label></td>
              <td>
                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>

                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
        <!-- end project list -->
        <button type="button" class="btn btn-success updateproducts hidden">Update</button>
      </div>
    </div>
  </div>
</div>





{{end}}

{{define "scripts"}}

<!-- <script type="text/javascript">
  (function () {
    var data;
    var ws = new WebSocket("ws://localhost:3003/admin/products/ws");


    ws.onclose = function (evt) {
      data.textContent = 'Connection closed';
      // window.location.reload();
    }
    ws.onmessage = function (evt) {
      console.log('file updated', evt.data);
      document.getElementById("json").innerHTML = evt.data
      // data.innerHTML = evt.data;
    }
  })();
</script> -->
<script>
  $("#checkAll").click(function () {
    $(this).closest('form').find('input:checkbox').not(this).prop('checked', this.checked);
  });
  function comparer(otherArray) {
    return function (current) {
      return otherArray.filter(function (other) {
        return other.id == current.id && other.status == current.status
      }).length == 0;
    }
  }

  $(document).ready(function () {
    var objectArray = []

    var table = $('#datatable-responsive ').DataTable();

    table.rows().eq(0).each(function (index) {
      var row = table.row(index);

      var data = row.data();
      var htmlelement = row.node();

      var object = {
        "id": parseInt($(htmlelement).find("input:checkbox").val()),
        "status": $(htmlelement).find("input:checkbox:checked").length > 0 ? "publish" : "private"
      }

      objectArray.push(object)
    });

    localStorage.setItem("productstatus", JSON.stringify(objectArray));


    $(".check:button").click(function () {
      if ($(this).text() == "All") {
        $(this).closest('form').find('input:checkbox').attr('checked', 'checked')
        $(this).text("None");
      } else {
        $(this).closest('form').find('input:checkbox').removeAttr('checked')

        $(this).text("All");
      };
    });

  })

  $(".updateproducts").on('click', function () {
    var $this = $(this);

    var objectArray = []
    var storedNames = JSON.parse(localStorage.getItem("productstatus"));


    var table = $('#datatable-responsive ').DataTable();

    table.rows().eq(0).each(function (index) {
      var row = table.row(index);

      var data = row.data();
      var htmlelement = row.node();

      var object = {
        "id": parseInt($(htmlelement).find("input:checkbox").val()),
        "status": $(htmlelement).find("input:checkbox:checked").length > 0 ? "publish" : "private"
      }

      objectArray.push(object)
    });




    var onlythechanges = objectArray.filter(comparer(storedNames));


    $(".updateproducts").addClass('loaderform');
    $('.updateproducts').prop('disabled', true);
    
      $.ajax({
        type: 'post',
        url: '/admin/api/update-products',
        data: JSON.stringify(onlythechanges),
        dataType: 'json',
        contentType: "application/json",

        success: function (data) {
          var status = data.status;
          console.log(data)
          if (data.status === 200) {
            localStorage.setItem("productstatus", JSON.stringify(objectArray));

            $.notify({
              icon: 'ti-user',
              message: data.description,



            }, {
                placement: {
                  from: "top",
                  align: "center"
                },
                type: 'success',
                timer: 2000,
              });
            // setTimeout(function () {
            //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
            //     // window.location.reload();
            // }, 2000);
            $(".updateproducts").removeClass('loaderform').addClass("hidden");
            
            $('.updateproducts').prop('disabled', false);
          };

          if (data.status === 500) {
            $.notify({
              icon: 'ti-user',
              message: data.description,

            }, {
                placement: {
                  from: "top",
                  align: "center"
                },
                type: 'error',
                timer: 2000,
              });
            // setTimeout(function () {
            //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
            //     window.location.reload();
            // }, 2000);
          };
          $(".updateproducts").removeClass('loaderform');
          $(".updateproducts").removeClass('loaderform').addClass("hidden");

          $('.updateproducts').prop('disabled', false);


        }
      });

    

  });
  $(".enabledisable").on('click', function () {
    var $this = $(this);

    var objectArray = []
    var storedNames = JSON.parse(localStorage.getItem("productstatus"));


    var table = $('#datatable-responsive ').DataTable();

    table.rows().eq(0).each(function (index) {
      var row = table.row(index);

      var data = row.data();
      var htmlelement = row.node();

      var object = {
        "id": parseInt($(htmlelement).find("input:checkbox").val()),
        "status": $(htmlelement).find("input:checkbox:checked").length > 0 ? "publish" : "private"
      }

      objectArray.push(object)
    });




    var onlythechanges = objectArray.filter(comparer(storedNames));

    if (onlythechanges.length > 0) {
      $(".updateproducts").removeClass("hidden");
    } else {
      $(".updateproducts").addClass("hidden");
    }



  });

</script>
{{end}}