{{define "titleleft"}}

{{.Title}}

{{end}}
{{define "content"}}
<div class="clearfix"></div>



<div id="settings" class="row hidden">
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Insert woocommerce <small>public and secret key</small></h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left input_mask">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">WP domain</label>
                        <div class="col-md-9 col-sm-9 col-xs-12  has-feedback">
                            <input type="text" id="wp_domain" name="wp_domain" class="form-control has-feedback-left"
                                placeholder="https://your domain/">
                            <span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer key</label>
                        <div class="col-md-9 col-sm-9 col-xs-12  has-feedback">
                            <input type="text" id="customer_key" name="customer_key"
                                class="form-control has-feedback-left" placeholder="ck_xxxxxxxxxxxxxxxxxxxxx">
                            <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer secret</label>
                        <div class="col-md-9 col-sm-9 col-xs-12  has-feedback">
                            <input type="text" id="customer_secret" name="customer_secret"
                                class="form-control has-feedback-left" placeholder="cs_xxxxxxxxxxxxxxxxxxxxx">
                            <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary reset">Cancel</button>
                            <button class="btn btn-primary reset" type="reset">Reset</button>
                            <button type="button" class="btn btn-success submit">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>




    </div>

</div>
<br />

<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id="wrongpass" class="alert alert-danger alert-dismissible fade in hidden" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>

            </div>

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Admin Login</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">


                    <div class="form-group">
                        <label class="control-label">Admin Password</label>

                        <input type="password" id="admin_pass" name="admin_pass" class="form-control">

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submit-admin">Login</button>
            </div>

        </div>
    </div>
</div>




{{end}}

{{define "scripts"}}

<script>
    $(".submit").on('click', function (e) {
        e.preventDefault();

        var object = {
            "customer_key": $("#customer_key").val(),
            "customer_secret": $("#customer_secret").val(),
            "id": 1,
            "wp_domain": $("#wp_domain").val()
        }


        $.ajax({
            type: 'post',
            url: '/admin/api/insert_customer_key_secret',
            data: JSON.stringify(object),
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {

                    $.notify({
                        icon: 'ti-user',
                        message: "success",



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     $(this).closest('form').find("input[type=text], textarea").val("");
                    // }, 2000);

                };


                if (data.status === 500) {
                    $.notify({
                        icon: 'ti-user',
                        message: data.description,

                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'error',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     // $("#registerFormDiv").load(location.href + " #registerFormDiv");
                    //     window.location.reload();
                    // }, 2000);
                };


            }
        });

    });

    $(".reset").click(function () {
        $(this).closest('form').find("input[type=text], textarea").val("");
    });

</script>
<script>
    $('#myModal').modal({ backdrop: 'static', keyboard: false, toggle: 'toggle' })


    $(".submit-admin").on('click', function (e) {
        e.preventDefault();

        console.log("here");


        $.ajax({
            type: 'post',
            url: '/admin/api/check-if-admin/' + $("#admin_pass").val(),
            data: null,
            dataType: 'json',
            contentType: "application/json",

            success: function (data) {
                var status = data.status;
                console.log(data)
                if (data.status === 200) {
                    $('#myModal').modal('toggle')
                    $("#wrongpass").addClass("hidden");

                    $("#settings").removeClass("hidden");

                    $.notify({
                        icon: 'ti-user',
                        message: data.description,



                    }, {
                            placement: {
                                from: "top",
                                align: "center"
                            },
                            type: 'success',
                            timer: 2000,
                        });
                    // setTimeout(function () {
                    //     $(this).closest('form').find("input[type=text], textarea").val("");
                    // }, 2000);

                };


                if (data.status === 500) {

                    $("#wrongpass").removeClass("hidden").text(data.description);
                };


            }
        });






    });

    $(".reset").click(function () {
        $(this).closest('form').find("input[type=text], textarea").val("");
    });

    $(".admin-cancel").click(function () {
        $(this).closest('form').find("input[type=text]").val("");
    });

</script>
{{end}}